/* 시그니처 컬러
메인 #82d9d0

*/

/* 공용 태그 */
.content {
  width: 1200px;
  margin: 0 auto;
}


/* 헤더 및 네브 */

header,nav {
  width: 100%;
}
nav {
  height: 80px;
  background-color: #666;
  color: #fff;
  /* background-color: #82d9d0; */
}
nav .content {
  display: flex;
  justify-content: space-between;
  height: 80px;
  /* border: 1px solid red; */
}

#logo {
  width: 120px;
  height: 80px;
  text-align: center;
  font-size: 30px;
  padding: 15px 0px;
  /* border: 1px solid red; */
}
#logo a {
  width: inherit;
  height: 50px;
}

#nav_list {
  width: 300px;
  padding: 15px 0px;
  font-size: 16px;
  display: flex;
  justify-content: right;
  /* border: 1px solid blue; */
}

#nav_list li {
  width: 50px;
  height: 50px;
  text-align: center;
}

#nav_list .menu_user {
  background: none;
  border: none;
  outline: none;
}
#logo a:focus,
#nav_list button:focus {
  border-radius: 50%;
  border: none;
  outline: none;
  /* outline: 3px solid #82d9d0a7; */
  /* border: 3px solid #82d9d0a7; */
  background-color: inherit;
}

#nav_list button {
  width: inherit;
  height: inherit;
  border-radius:inherit;
  display: block;
  margin: 0 auto;
  background: none;
  border: none;
  font-size: 30px;
}

#nav_list button svg {
  color: #fff;
}

/* 메인 영역 */
#main {
  background: #333;
}

.date_wrap {
  height: 150px;
  border: 1px solid red;
}

.now_date {
  color: #fff;

}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
