/* .tag_select_wrap {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 30px 0px;
}

.game_filter_wrap button {
    height: 40px;
    color: #fff;
}

.game_filter_wrap span {
    height: 100%;
}

.game_filter_wrap svg {
    margin-left: 8px;
}

.game_filter_delete {
    display: block;
    padding: 5px 10px;
    height: 35px;
    margin-right: 8px;
    background-color: #666;
    border-radius: 10px;
    color: #fff;
} */

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 60px 0px;
}

.item {
    width: 22%;
    height: 320px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-right: calc(12% /3);
    margin-bottom: 30px;
    transition-duration: .3s;
}

.item:nth-child(4n) {
    margin-right: 0px;

}

.item:hover {
    scale: 95%;
}

.item_img {
    display: block;
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item_text_wrap {
    width: 100%;
    height: 170px;
    padding: 10px;
}

.item_name {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    color:#434A49;
    padding-bottom: 6px;
}

.item_date {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 10px;
    text-align: left;
    font-size: 12px;
    color: #777;
    padding-bottom: 10px;
}

.info_wrap {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    height: 30px;
    padding-bottom: 10px;
}

.info_wrap p {
    display: flex;
    height: 20px;
    justify-content: left;
    width: calc(100% /3);
}

.info_wrap p>span {
    display: block;
    width: 30px;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
}

.info_wrap p>svg {
    display: block;
    width: 20px;
    height: 20px;
}

.item_tag_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 60px;
}

.item_tag {
    font-size: 11px;
    height: 25px;
    line-height: 15px;
    color: #fff;
    border-radius: 5px;
    margin: 0px 5px 5px 0px;
    padding: 5px 5px;
}


/* 이미지 업로드 */

.g_img_wrap {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    position:relative;
    margin: 0 auto 60px;
}


.g_img_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.g_img_text svg {
    width: 20px;
    height: 20px;
    color: #666;
}

.g_img_text span {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #666;
    text-align: center;
    margin-left: 10px;
}

.g_img_btn {
    opacity: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position:absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}


/* 업로드 성공 */

.g_thumbnail {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.confirm_wrap {
    margin-top: 30px;
    border: 1px solid #eee;
    padding: 10px 0px;
    border-radius: 10px;
    color: #434A49;
}

.text_confirm {
    padding: 10px;
}


