/* 메인 영역 */
#render_user {
    position:absolute;
    width: 100px;
    top: 65px;
    right: 65px;
    padding: 10px 0px;
    font-size: 14px;
    text-align: center;
    color: #333;
    border-radius: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  #render_user li {
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
  }
  #render_user li:hover {
    background: #f2f2f2;
  }
  #render_user li:active {
    background: #ddd;
  }
  
  
  .render_user_on {
    visibility: visible;
  }
  .render_user_off {
    visibility: hidden;
  }