/* 시그니처 컬러



메인 #82d9d0

밝음 #87E0D7

어두움 #68ADA6

칙칙함 #AFD2CF

다크 민트 #434A49

*/

/* 공용 태그 */

/* 메인 영역 */
body,#main {
  width: 100%;
  height: 100%;
  /* main */
  /* background: #82d9d0; */
  /* normal */
  /* background: #def9f6; */
  /* base  */
  background: #e7f7f5;
  /* pocus */
  /* background: #c4d3d1; */
}