
.content {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.post_header {
    margin-top: 60px;
}

.post_title_box {
    display: flex;
    justify-content: center;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.post_thumbnaill_wrap {
    width: 120px;
    height: inherit;
    padding: 10px;
}

.post_thumbnaill_wrap button {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: #f2f2f2;
}

.post_thumbnaill_wrap button svg {
    width: 40px;
    height: 40px;
    color: #666;
}



.post_box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
}

.post_title_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 100%;
    padding: 0px 10px;
}

.title_link {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #82d9d0;
}

.title_text {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 32px;
    color: #666;

}

.post_ico_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
}

.post_ico_wrap button {
    border: none;
    background: none;
    margin: 0px 5px;
}

.post_ico_wrap button svg {
    width: 25px;
    height: 25px;
    color: #666;
}

.post_content_box {
    height: auto;
    border-radius: 10px;
}

.upload_wrap {
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    position:relative;
    background: #f2f2f2;
    cursor: pointer;
}

.upload_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
}

.upload_text svg {
    width: 50px;
    height: 50px;
    color: #666;
}

.upload_text span {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #666;
    text-align: center;
    margin-left: 10px;
}

.upload_btn {
    opacity: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position:absolute;
    top: 0px;
    left: 0px;
}


.quill {
    height: 600px;
    border: none;
}

.ql-toolbar {
    border: none !important;
    border-top: 1px solid #f2f2f2 !important;
    border-bottom: 1px solid #f2f2f2 !important;

    /* background: #f2f2f2; */
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

.ql-container {
    border: none !important;
    height: 560px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.post_btn_wrap {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    margin: 20px 0px;
    color: #666;
    font-size: 16px;
}

.post_btn_wrap button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    background-color: none;

}

.back_btn {
}

.create_btn {
}



.post_container {
    width: 100%;
    height: 600px;
    overflow:auto;
    border-radius: 10px;
    color: #666;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}