.content_user {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #f0faf9;
}

.position {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 380px);
    max-height: 100%;
}

.title_text {
    display: block;
    width: 100%;
    padding: 60px 0px;
    border-radius: 10px;
    font-size: 42px;
    color: #82d9d0;
    text-align: center;
}

.kakao_btn {
    margin-top: 20px;
    background: #fee500;
    color: #181600;
}
.kakao_btn:hover {
    background: #F0DF48;
}
.kakao_btn:active {
    background: #EDD500;
}

.line_wrap {
    display: flex;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.login_line_text {
    display: block;
    color:#434A49;
    font-size: 14px;
    width: 20%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.login_line {
    width: 40%;
    height: 1px;
    background: #ddd;
}

.link_text {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #68ADA6;
}

.link_text:hover {
    text-decoration: underline;
    color:#87E0D7;
}
.link_text:active {
    color: #82d9d0;
}

.join_link_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color:#434A49;
    padding: 30px 0px;
}

.login_join {
    margin-left: 10px;
}